/* header {
            background-color: grey;
            /* border: 4px solid black;
        }
a {
    text-decoration: none;
}
nav a {
    color: black;
    font-weight: bold;
}
nav a:hover {
    color: blue;
    font-weight: bold;

}
.detail-info {
    color: red;
} */